<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practica</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/4cbee753b6.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>


        <div class="main-header">
            <div class="logo-lupa">
                <img src="/images/logo-mercado-liebre.svg" alt="" class="logo">

                <div class="buscar-lupa">
                    <input class="buscar" type="search" name="searchbar" placeholder="Buscar productos, marcas">
                    <div class="contenedor-lupa">
                        <i class="fa-solid fa-magnifying-glass lupa"></i>
                    </div>
                </div>
            </div>

            <h2 class="centrado">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y tarjeta de credito
            </h2>


        </div>




        <a href="#" class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </a>


        <nav class="main-navbar">
            <div>
                <ul class="left-navbar">
                    <li> <a href="">ofertas </a> </li>
                    <li><a href="">tiendas oficiales</a></li>
                    <li><a href="">vender</a></li>
                    <li><a href="">ayuda</a></li>
                </ul>
            </div>




            <div>
                <ul class="right-navbar">
                    <li><a href="/registro">crea tu cuenta</a> <img width="15" src="/images/address-card-solid.svg"
                            alt=""></li>
                    <li><a href="/login">ingresa</a> <img width="15" src="/images/right-to-bracket-solid.svg" alt="">
                    </li>
                    <li><a href=""> mis compras</a> <img width="15" src="/images/basket-shopping-solid.svg" alt=""></li>
                </ul>
            </div>

        </nav>

    </header>


    <main>


        <div class="gh">
            <img width="100%" src="/images/img-home-banner.jpg" alt="">
        </div>

        <div class="contenedor1">

            <h1 class="titular">Basado en tu ultima vista </h1>

            <div class="grupo-2">
                <div class="grupo-1">
                    <div>
                        <div class="imagen1">
                            <div class="imagen2">
                                <img src="/images/img-cafetera-moulinex.jpg" alt="">

                                <div class="camion-envio">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </div>

                            <div class="detalles1">

                                <ul>


                                    <div class="pre-des">

                                        <div class="precio">
                                            <li>$67700</li>
                                        </div>

                                        <div class="descuento">
                                            <li> 40% off </li>
                                        </div>
                                    </div>

                                    <li>cafetera moulinex</li>


                                </ul>
                            </div>

                        </div>

                    </div>

                    <div>



                        <div class="imagen1">
                            <div class="imagen2">
                                <img src="/images/img-macbook-pro-2019.jpg" alt="">

                                <div class="camion-envio">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </div>



                            <div class="detalles1">
                                <ul>

                                    <div class="pre-des">

                                        <div class="precio">
                                            <li>$230000</li>
                                        </div>

                                        <div class="descuento">
                                            <li>20% off</li>
                                        </div>
                                    </div>

                                    <li>MacBook pro 2019</li>

                                </ul>
                            </div>
                        </div>



                    </div>
                </div>


                <div class="grupo-1">
                    <div>


                        <div class="imagen1">

                            <div class="imagen2">
                                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">

                                <div class="camion-envio">
                                    <i class="fas fa-truck"></i>
                                </div>

                            </div>


                            <div class="detalles1">
                                <ul>

                                    <div class="pre-des">

                                        <div class="precio">
                                            <li> $705000</li>
                                        </div>

                                        <div class="descuento">
                                            <li> 10% off</li>
                                        </div>
                                    </div>

                                    <li>Samsung Galaxy 10</li>
                                </ul>
                            </div>
                        </div>



                    </div>



                    <div>

                        <div class="imagen1">

                            <div class="imagen2">
                                <img src="/images/img-tv-samsung-smart.jpg" alt="">

                                <div class="camion-envio">
                                    <i class="fas fa-truck"></i>
                                </div>

                            </div>


                            <div class="detalles1 ">
                                <ul>

                                    <div class="pre-des">

                                        <div class="precio">
                                            <li> $23200 </li>
                                        </div>

                                        <div class="descuento">
                                            <li>5% off</li>
                                        </div>
                                    </div>


                                    <li>Smart Tv Samsung 43"</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <footer>
        <div class="pie">

            <div class="pie2">

                <i class="fa-solid fa-credit-card iconFooter"></i>
                <h1> Paga con tarjeta o en efectivo </h1>
                <p> Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o en
                    efectivo en puntos de pago ¡Y siempre es seguro!</p>

            </div>


            <div class="pie3">

                <i class="fa-solid fa-gift iconFooter"></i>
                <h1> Envio gratis desde los $2500</h1>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>

            </div>


            <div class="pie4">


                <!-- <img src="/images/user-shield-solid.svg" alt="">     -->
                <i class="fa-solid fa-user-shield"></i>
                <h1>Seguridad de principio a fin </h1>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@. </p>


            </div>

            

        </div>




    </footer>

            <div class="pie-5">

                <h1> Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>

            </div>

</body>

</html>