<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/4cbee753b6.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="main-header">
            <div class="logo-lupa">
                <img src="/images/logo-mercado-liebre.svg" alt="" class="logo">

                <div class="buscar-lupa">
                    <input class="buscar" type="search" name="searchbar" placeholder="Buscar productos, marcas">
                    <div class="contenedor-lupa">
                        <i class="fa-solid fa-magnifying-glass lupa"></i>
                    </div>
                </div>
            </div>
            
            <h2 class="centrado">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y tarjeta de credito
            </h2>

        </div>

        <a href="#" class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </a>


        <nav class="main-navbar">
            <div>
                <ul class="left-navbar">
                    <li> <a href="">ofertas </a> </li>
                    <li><a href="">tiendas oficiales</a></li>
                    <li><a href="">vender</a></li>
                    <li><a href="">ayuda</a></li>
                </ul>
            </div>




            <div>
                <ul class="right-navbar">
                    <li><a href="/registro">crea tu cuenta</a> <img width="15" src="/images/address-card-solid.svg" alt=""></li>
                    <li><a href="/login">ingresa</a> <img width="15" src="/images/right-to-bracket-solid.svg" alt=""></li>
                    <li><a href=""> mis compras</a> <img width="15" src="/images/basket-shopping-solid.svg" alt=""></li>
                </ul>
            </div>

        </nav>



    </header>

    <form action="/" method="get" class="login">
        
        </div>

        <div class="usuario">

            <input type="text" name="usuario" placeholder="nombre de usuario" required="requerido">
        </div>

        <div class="contraseña">
    
            <input type="password" name="contraseña" placeholder="contraseña" required="requerido">
        </div>

        <div class="inicio-sesion">
            <button type="submit"> Enviar </button>
        </div>




    </form>

    <footer>
        <div class="pie">

            <div class="pie2">

                <i class="fa-solid fa-credit-card iconFooter"></i>
                <h1> Paga con tarjeta o en efectivo </h1>
                <p> Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o en
                    efectivo en puntos de pago ¡Y siempre es seguro!</p>

            </div>


            <div class="pie3">

                <i class="fa-solid fa-gift iconFooter"></i>
                <h1> Envio gratis desde los $2500</h1>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>

            </div>


            <div class="pie4">


                <!-- <img src="/images/user-shield-solid.svg" alt="">     -->
                <i class="fa-solid fa-user-shield"></i>
                <h1>Seguridad de principio a fin </h1>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@. </p>

                

            </div>



        </div>

        

    </footer>

        <div class="pie-5"> 
            <h1> Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </div>


</body>

</html>