<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  
    <form action= "/" method="get" class="registro">
      <div>
        <div class="control">
          <label> Nombre y Apellido </label>
          <input type="text" name="nombre" class="control2">
        </div>
        <div class="control">
          <label> Nombre de Usuario </label>
          <input type="text" name="usuario" class="control2">
        </div>
        <div class="control">
          <label> Fecha de Nacimiento</label>
          <input type="date" name="fecha" class="control2">
        </div>
        <div class="control">
          <label> Domicilio </label>
          <input type="text" name="domicilio" class="control2">
        </div>

        <div class="control">

          <label> Perfil del Usuario </label>

          <div class="perfil">

            <input type="checkbox" name="perfil-usuario">
            <label>Comprador</label>
            <input type="checkbox" name="perfil-usuario">
            <label>vendedor</label>
            
            

          </div>

        </div>

        <div class="intereses">

          <label class="categoria-de-interes"> Categoria de Interes: </label>
          <div class="opcion"> 
            <label>Electro</label>
            <input type="checkbox" name="interes">
          </div>

          <div class="opcion">
            <label >Moda</label>
            <input type="checkbox" name="interes">
          </div>

          <div class="opcion">
            <label >Hogar</label>
            <input type="checkbox" name="interes">
          </div>

          <div class="opcion">
             <label >Jugueteria</label>
            <input type="checkbox" name="interes">
          </div>

          <div class="opcion">
            <label>Vida Sana</label>
            <input type="checkbox" name="interes">
          </div>
          
            
        </div>

        <div class="control">
          <label> Foto de Usuario </label>
          <input type="file" name="foto" class="control2">
        </div>

        <div class="control">
          <label> Contraseña </label>
          <input type="password" name="contraseña" class="control2">
        </div>

        <div class="control">
          <label> Confirmar contraseña </label>
          <input type="password" name="contraseña" class="control2">
        </div>

        <div class="botones2">
          <button type="submit" class="botones"> Enviar </button> 
          <button type="reset" class="botones"> Borrar</button>
        </div>

      
      </div>
    </form>

  
</body>

</html>